<div class="about-page">
    <div class="about-page-section">
        <h2>
            Thank You!
        </h2>
        
        <p>
            This is my first Angular 2 project. It's an small app that uses that utilizes the Spotify API
            to display artist and album information. I hope you've enjoyed using it!
        </p>

        <p>
            I couldn't have done this project without the help of the tutorial playlist by Traversy Media.
        </p>
    
        <a class="btn btn-primary" href="https://www.youtube.com/playlist?list=PLillGF-RfqbYmJsLiPDVoDea3lfy7-E8O" target="_blank">View Tutorial</a>
    </div>
</div>
