
.artist-info a {
    color:#112840;
    text-decoration: none;
}

.artist-info a:hover {
    color: #6ba0d6;
}

.artist-card {
    padding: 2rem 3rem;
}

.title {
    margin-top: 2rem;
    color: #3e6d9c;
}

#nav-title {
    color: #447bb3;
    font-weight: bold;
}

#nav-link {
    text-decoration: none;
    color: #447bb3;
    font-weight: bold;
}

#nav-link:hover {
    color: #74abe3;
}

#nav-title:hover {
    color: #74abe3;
}